In [18]:

import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV, learning_curve
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import SelectKBest, f_regression
import datetime


import warnings

In [19]:
df = pd.read_csv('/Users/gargi/Desktop/DSC_SB/heart_failure/heart_failure_clinical_records_dataset.csv')

In [20]:
df_scaled= scale(df)

In [21]:
df

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

In [22]:
df_columns = df.columns

In [23]:
df_scaled_col = pd.DataFrame(df_scaled, columns=df_columns)

In [24]:
df_scaled_col

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,1.192945,-0.871105,0.000166,-0.847579,-1.530560,1.359272,1.681648e-02,0.490057,-1.504036,0.735688,-0.687682,-1.629502,1.454161
1,-0.491279,-0.871105,7.514640,-0.847579,-0.007077,-0.735688,7.535660e-09,-0.284552,-0.141976,0.735688,-0.687682,-1.603691,1.454161
2,0.350833,-0.871105,-0.449939,-0.847579,-1.530560,-0.735688,-1.038073e+00,-0.090900,-1.731046,0.735688,1.454161,-1.590785,1.454161
3,-0.912335,1.147968,-0.486071,-0.847579,-1.530560,-0.735688,-5.464741e-01,0.490057,0.085034,0.735688,-0.687682,-1.590785,1.454161
4,0.350833,1.147968,-0.435486,1.179830,-1.530560,-0.735688,6.517986e-01,1.264666,-4.682176,-1.359272,-0.687682,-1.577879,1.454161
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,0.098199,-0.871105,-0.537688,1.179830,-0.007077,1.359272,-1.109765e+00,-0.284552,1.447094,0.735688,1.454161,1.803451,-0.687682
295,-0.491279,-0.871105,1.278215,-0.847579,-0.007077,-0.735688,6.802472e-02,-0.187726,0.539054,-1.359272,-0.687682,1.816357,-0.687682
296,-1.333392,-0.871105,1.525979,1.179830,1.854958,-0.735688,4.902082e+00,-0.575031,0.312044,-1.359272,-0.687682,1.906697,-0.687682
297,-1.333392,-0.871105,1.890398,-0.847579,-0.007077,-0.735688,-1.263389e+00,0.005926,0.766064,0.735688,1.454161,1.932509,-0.687682
298,-0.912335,-0.871105,-0.398321,-0.847579,0.585389,-0.735688,1.348231e+00,0.199578,-0.141976,0.735688,1.454161,1.997038,-0.687682

In [25]:
# verifying scaling
df_scaled_col.mean()

age                         5.265205e-16
anaemia                     3.594301e-16
creatinine_phosphokinase    3.713120e-18
diabetes                    1.113936e-16
ejection_fraction           3.341808e-18
high_blood_pressure        -4.841909e-16
platelets                   1.009969e-16
serum_creatinine           -2.227872e-18
serum_sodium               -8.627435e-16
sex                        -5.940993e-18
smoking                    -3.861645e-17
time                       -1.069379e-16
DEATH_EVENT                 3.765104e-16
dtype: float64

pretty much zero!

In [26]:
df_scaled_col.std(ddof=0)

age                         1.0
anaemia                     1.0
creatinine_phosphokinase    1.0
diabetes                    1.0
ejection_fraction           1.0
high_blood_pressure         1.0
platelets                   1.0
serum_creatinine            1.0
serum_sodium                1.0
sex                         1.0
smoking                     1.0
time                        1.0
DEATH_EVENT                 1.0
dtype: float64

### Test/train split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(df_scaled_col.drop(columns='DEATH_EVENT'), 
                                                    df_scaled_col.DEATH_EVENT, test_size=0.3, 
                                                    random_state=47)

In [28]:
X_train.shape, X_test.shape

((209, 12), (90, 12))

In [29]:
y_train.shape, y_test.shape

((209,), (90,))

In [30]:
#Code task 16#
#Add `SelectKBest` as a step in the pipeline between `StandardScaler()` and `LinearRegression()`
#Don't forget to tell it to use `f_regression` as its score function
pipe = make_pipeline(
    SimpleImputer(strategy='median'), 
    StandardScaler(),
    SelectKBest(score_func = f_regression),
    LinearRegression()
)

In [31]:
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('simpleimputer',
                 SimpleImputer(add_indicator=False, copy=True, fill_value=None,
                               missing_values=nan, strategy='median',
                               verbose=0)),
                ('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('selectkbest',
                 SelectKBest(k=10,
                             score_func=<function f_regression at 0x7fe660fd33b0>)),
                ('linearregression',
                 LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                                  normalize=False))],
         verbose=False)

In [32]:
y_tr_pred = pipe.predict(X_train)
y_te_pred = pipe.predict(X_test)

In [33]:
r2_score(y_train, y_tr_pred), r2_score(y_test, y_te_pred)

(0.3994389262375285, 0.4085963439759105)

In [34]:
mean_absolute_error(y_train, y_tr_pred), mean_absolute_error(y_test, y_te_pred)

(0.6151047280614051, 0.6565129066298835)